@font-face {
    font-family: 'airbnb_cerealblack';
    src: url('../../../assets/font/airbnbcereal-black-webfont.woff2') format('woff2'),
    url('../../../assets/font/airbnbcereal-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'myriadbold';
    src: url('../../../assets/font/myriad-bold-webfont.woff2') format('woff2'),
    url('../../../assets/font/myriad-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h1{
    font-family: 'myriadbold';
    color: rgb(231, 231, 231);
    margin-top: -125px;
    font-size: 90px;
}
p{
    font-family: 'myriadbold';
    color: rgb(255, 255, 255);
    font-size: 81px;
    margin-top: -132px;
}
h2{
    margin-top: 80px;
    border: 10px;
}
h3{
    font-family: 'myriadbold';
    color: rgb(255, 255, 255);
    margin-top: 146px;
    font-size: 90px;
}