@font-face {
  font-family: 'airbnb_cerealblack';
  src: url('../../assets/font/airbnbcereal-black-webfont.woff2') format('woff2'),
  url('../../assets/font/airbnbcereal-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'myriadbold';
  src: url('../../assets/font/myriad-bold-webfont.woff2') format('woff2'),
  url('../../assets/font/myriad-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;


}
@font-face {
  font-family: 'airbnb_cereallight';
  src: url('../../assets/font/airbnbcereal-light-webfont.woff2') format('woff2'),
  url('../../assets/font/airbnbcereal-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {

  background: url(../../assets/background.png) ;
  width: 58px;
  height: 580px;
  float: left;

}
.header{
  height:100px;
}
.button1{

  z-index: 100;
  position: absolute;
  background:#2b2747;
  border-color: #2b2747;
  text-align: center;
  top:22px;
  left:1268px;
  font-size: 20px;
  text-align: center;
  height: 50px;
  width: 140px;
  font-family: airbnb_cereallight;
  /* box-shadow: 2px 10px 5px #2b2b2b; */

}
.button2{

  z-index: 100;
  position: absolute;
  background:#5d90ff;
  border-color: #5d90ff;
  font-family: airbnb_cereallight;
  text-align: center;
  top:65%;
  left:40%;
  font-size: 36px;
  text-align: center;
  height: 69px;
  box-shadow: 2px 10px 5px #1d1d1d;
  width: 260px;


}
.text1{
  z-index: 102;
  position: absolute;
  size:100px;
  top:40%;
  left:18%;
  font-family: myriadbold;
  font-size: 120px;
  color: #fff;
  /* text-shadow: 2px 10px 5px #2b2b2b; */
}
.background {
  z-index: 2;

  background: url(../../assets/background2.png) no-repeat center center;
  height: 1000px;

  background-size: 100% 100%;
  transition:100s;
  -webkit-transition:ease-out 10s;

}
.background:hover{
  -webkit-transform : scale(0.8);
}

.body2{
  position: relative;
}
.list code {
  background: brown;
}